boto3==1.35.0
botocore==1.35.0
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
httplib2==0.22.0
requests==2.32.3
requests-oauthlib==2.0.0
python-dotenv==1.0.1